<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lista de tareas</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <div class="jumbotron">
            <h1>Lista de tareas</h1>
            <ul>
                <% tareas.forEach(function(tarea,id){ %>
                    <li><%= tarea %> <a class="badge" href="/borrar/<%= id%>">X</a></li>
                <% });%>
            </ul>
            <form class="" action="adicionar/" method="post">
                <p>
                    <label for="nuevaTarea">Nueva tarea:</label>
                    <input type="text" name="nuevaTarea" autofocus id="nuevaTarea">
                    <input type="submit" class="btn btn-lg btn-success" name="" value="Registrar">
                </p>
            </form>
        </div>
    </body>
</html>
