html, body {
    height: 100%;
}

body, h1 {
    margin: 0;
    color:  #624944;
}

body {
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
}

img {
    width: 424px;
    height: 274px;
}
